@media screen and (max-width:1500px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1500px) {
    #main-nav {
        display: none;
    }
    #content-nav {
        display: flex;
    }
    #experience, 
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, 
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        height: 35vh;
        width: 35vh;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .about-containers {
        margin-top: 0;
        flex-wrap: wrap;
    }
    .about-details-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 0;
}
}
@media screen and (max-width:600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, 
    .contact-info-upper-container, 
    .btn-container {
        flex-wrap: wrap;
        
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container a,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .section-title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

}